<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mybatis.mapper.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.mybatis.entities.Question" >
    <id column="QUESTION_ID" property="questionId" jdbcType="INTEGER" />
    <result column="QUESTION_NAME" property="questionName" jdbcType="VARCHAR" />
    <result column="QUESTION_TYPE" property="questionType" jdbcType="INTEGER" />
    <result column="OPTIONS" property="options" jdbcType="VARCHAR" />
    <result column="bag_id" property="bagId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from survey_question
    where QUESTION_ID = #{questionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.mybatis.entities.Question" >
    insert into survey_question (QUESTION_ID, QUESTION_NAME, QUESTION_TYPE, 
      OPTIONS, bag_id)
    values (#{questionId,jdbcType=INTEGER}, #{questionName,jdbcType=VARCHAR}, #{questionType,jdbcType=INTEGER}, 
      #{options,jdbcType=VARCHAR}, #{bagId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.mybatis.entities.Question" >
    update survey_question
    set QUESTION_NAME = #{questionName,jdbcType=VARCHAR},
      QUESTION_TYPE = #{questionType,jdbcType=INTEGER},
      OPTIONS = #{options,jdbcType=VARCHAR},
      bag_id = #{bagId,jdbcType=INTEGER}
    where QUESTION_ID = #{questionId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select QUESTION_ID, QUESTION_NAME, QUESTION_TYPE, OPTIONS, bag_id
    from survey_question
    where QUESTION_ID = #{questionId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select QUESTION_ID, QUESTION_NAME, QUESTION_TYPE, OPTIONS, bag_id
    from survey_question
  </select>
</mapper>